output

._*
.bridgetown-cache
.bridgetown-metadata
.bridgetown-webpack
.byebug_history
.cache/
.DS_Store
.DS_Store?
.env*
.node_repl_history
.npm
.pnp/
.sass-cache
.Spotlight-V100
.Trashes
.Ulysses-Group.plist
.Ulysses-Settings.plist
.yarn-integrity
*.log
/.bundle
bower_components
coverage/
ehthumbs.db
node_modules/
Thumbs.db
vendor
yarn-debug.log*
yarn-error.log
