---
name: Content
variables:
  emoji:
    - string
  title:
    - string
  details:
    - string
  text:
    - string
---


<article class="">
  <div class="mx-auto max-w-prose">
    <span class="">
      {{ emoji }}
    </span>
    <h1 class="">
      {{ title }}
    </h1>
    {%- if details -%}
      <div class="">
        <dl>
          {{ details }}
        </dl>
      </div>
    {%- endif -%}
    <div class="py-6 mx-auto prose border-t border-gray-200 lg:prose-lg">
      {{ text }}
    </div>
  </div>
</article>
