---
name: Pagination
description: Display previous page and/or next page buttons to navigate through paginated pages.
variables:
  paginator:
    - object
    - The Bridgetown Paginator object ([see documentation here](https://www.bridgetownrb.com/docs/content/pagination/))
mocks:
  paginator:
    total_pages: 3
    previous_page: true
    previous_page_path: "#previous"
    next_page: true
    next_page_path: "#next"
---

{% if paginator.total_pages > 1 %}
  <nav class="">
  {% if paginator.previous_page %}
    <div class="">
      <a href="{{ paginator.previous_page_path }}" class="">
        Previous
      </a>
    </div>
  {% endif %}
  {% if paginator.next_page %}
    <div class="">
      <a href="{{ paginator.next_page_path }}" class="">
        Next
      </a>
    </div>
  {% endif %}
  </nav>
{% endif %}
